.idea
cmake-*
bin
/scens/*
/maps/
CMakeFiles/*
/components/*
*.zip
*.cmake
cbs
CMakeCache.txt
dependencies.txt
Makefile
test.csv
.vscode/c_cpp_properties.json
experiments/*
python/bc_conflicts_figures/*
python/unif_scen/*
brc_uniform_experiments/*
empty_uniform_experiments/*
*.tree
*.csv